    <on-scroll-animations></on-scroll-animations>
    <section class="section-google text-center" style="background:url(images/bg-pag-tienda.jpg)">
      <div class="container">
        <h2 class="display-5 letra-blanca">¡Sé el primero en
        <strong style="letter-spacing: -3.5px; font-size: 35px;">
          <span class="g-azul">G</span>
          <span class="g-rojo">o</span>
          <span class="g-amarillo">o</span>
          <span class="g-azul">g</span>
          <span class="g-verde">l</span>
          <span class="g-rojo">e</span>
        </strong>!
        </h2>
    </section>

    <div class="container-fluid bg-faded section-features">

      <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h3 class="wp wp-1">¿Como es el proceso para realizar tu sitio web?</h3>
          <p class="lead wp wp-2">El tiempo estimado de proyecto es entre 3 a 4 semanas
          <br />después de haber recibido el contenido.</p>
        </div>
      </div>

      <section id="cd-timeline" class="cd-container" time-line>

        <div class="pelotatop"></div>
        <div class="pelotabot"></div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img etapa1">
            <img src="images/icons/news27.svg" alt="Primera etapa" />
          </div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h2>Recepción de Contenido</h2>
            <p>Para comenzar con el proyecto necesitamos que nos envíes la información solicitada en el siguiente archivo PDF.</p>
            <a href="files/Inicio-de-Proyecto-Silverhost.pdf" target="_blank" class="btn btn-warning btn-chico"><i class="fa fa-file-pdf-o"></i> Descargar PDF</a>
            <span class="cd-date">Primera etapa</span>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img etapa2">
            <img src="images/icons/commands.svg" alt="Segunda etapa" />
          </div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h2>Desarrollo</h2>
            <p>Comenzaremos a diseñar y a programar el sitio web en una <strong>fase alpha</strong>, en donde se podrá ver la estructura final que tendrá el sitio web.</p>
            <span class="cd-date">Segunda etapa</span>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img etapa3">
            <img src="images/icons/chat98.svg" alt="Tercera etapa" />
          </div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h2>Sitio beta</h2>
            <p>Se enviara un correo con un link en donde se podrá visualizar el sitio en <strong>base beta</strong>. La base beta permite tener un sitio totalmente funcional, en donde estarán aplicados los textos, imágenes y todo el contenido enviado.</p>
            <span class="cd-date">Tercera etapa</span>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img etapa4">
            <img src="images/icons/web40.svg" alt="Cuarta etapa" />
          </div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h2>Proyecto terminado</h2>
            <p>El sitio es subido al servidor de producción y se darán los accesos para que se pueda acceder al administrador del sitio web y para poder gestionarlo y realizar los cambios que se estimen convenientes.</p>
            <a href="https://www.silverhost.cl/diseno-web/#trabajos-realizados" target="_blank" class="btn btn-success btn-chico"><i class="fa fa-rocket"></i>Mira nuestros trabajos</a>
            <span class="cd-date">Cuarta etapa</span>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img etapa5">
            <img src="images/icons/boy1.svg" alt="Quinta etapa" />
          </div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h2>Capacitación</h2>
            <p>Si se tienen dudas de como administrar la plataforma, se cuenta con la posibilidad de agendar una capacitación de 45 minutos en las oficinas de Silverhost.</p>
            <span class="cd-date">Quinta etapa</span>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img etapa6">
            <img src="images/icons/business191.svg" alt="Etapa final" />
          </div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h2>Marketing digital</h2>
            <p>Dejaremos tu sitio web dentro de los primeros resultados de Google, utilizando un presupuesto de 50USD y optimizando la estrategia por 2 semanas.</p>
            <span class="cd-date">Etapa final</span>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
      </section> <!-- cd-timeline -->

    </div>
