    <on-scroll-animations></on-scroll-animations>
    <header class="jumbotron bg-inverse text-center" role="banner" style="background:url(images/bg-pag-corp.jpg)">
      <div class="container-fluid">
        <div class="container top70">
          <div class="col-md-6 text-left">
            <h1 class="display-3"><strong class="colorear">Web corporativa</strong> <br /></h1>
            <h2 class="">Aumenta tus ventas con <em>un moderno sitio web</em>, ¿Qué necesita tu negocio?</h2>
            <div class="divider-inner margin0 top30"></div>
          </div>

          <div class="col-md-6 text-center">
            <img src="images/presentacion-sitios.png" alt="Presentacion Sitios" class="img-responsive opacidad" />
          </div>

        </div>
      </div>
    </header>

    <section class="section-features text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-block">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-laptop"></i>
                </span>
                <h4 class="card-title text-left">Web corporativa</h4>
                <h6 class="card-subtitle text-muted text-left">Destaca tu empresa</h6>
                <p class="card-text text-left">La mejor carta de presentación web. Muestra toda la información de tu empresa de la mejor forma y en todos los dispositivos. Además tienes la posibilidad de integrar muchas funcionalidades extras para que tengas tu web como el de las grandes empresas del país.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row logos-aliados top30">
          <div class="col-md-15 col-sm-4 col-xs-6">
            <img src="images/wp-logo.jpg" alt="Logo Wordpress" />
          </div>
          <div class="col-md-15 col-sm-4 col-xs-6">
            <img src="images/googleads-logo.jpg" alt="Logo Google Adsense" />
          </div>
          <div class="col-md-15 col-sm-4 col-xs-6">
            <img src="images/googleana-logo.jpg" alt="Logo Google Analytics" />
          </div>
        </div>
        <hr class="top50" />
      </div>

      <div class="container top20">
        <div class="col-md-12 text-left">
          <h3 class="">Características de Webs Corporativas</h3>
          <p class="lead">Con diseños modernos, funcionales y visibles en dispositivos móviles</p>
        </div>
      </div>

      <div class="container">

        <div class="container top10 cont-car">

          <div class="row caracteristicas">

            <div class="col-md-3 caja-caracteristicas ">
              <div class="card-block2">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-mobile"></i>
                </span>
                <h4 class="card-title2 text-left">Visible en móvil</h4>
              </div>
            </div>

            <div class="col-md-3 caja-caracteristicas">
              <div class="card-block2">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-bar-chart"></i>
                </span>
                <h4 class="card-title2 text-left">Medible</h4>
              </div>
            </div>

            <div class="col-md-3 caja-caracteristicas">
              <div class="card-block2">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-rocket"></i>
                </span>
                <h4 class="card-title2 text-left">Moderno</h4>
              </div>
            </div>

            <div class="col-md-3 caja-caracteristicas">
              <div class="card-block2">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-list-alt"></i>
                </span>
                <h4 class="card-title2 text-left">Administrable</h4>
              </div>
            </div>

          </div>
          <div class="row caracteristicas2">
            <div class="col-md-3 caja-caracteristicas">
              <div class="card-block2">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-lock"></i>
                </span>
                <h4 class="card-title2 text-left">Seguro</h4>
              </div>
            </div>

            <div class="col-md-3 caja-caracteristicas">
              <div class="card-block2">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-plus-circle"></i>
                </span>
                <h4 class="card-title2 text-left">Genera conversión</h4>
              </div>
            </div>

            <div class="col-md-3 caja-caracteristicas">
              <div class="card-block2">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-usd"></i>
                </span>
                <h4 class="card-title2 text-left">Rápidos resultados</h4>
              </div>
            </div>

            <div class="col-md-3 caja-caracteristicas">
              <div class="card-block2">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-server"></i>
                </span>
                <h4 class="card-title2 text-left">Hosting Gratis</h4>
              </div>
            </div>

          </div>
        </div>

      <div class="container top60">
        <div class="col-md-12 text-center">
          <h2 class="display-5">Desarrolla ahora tu Sitio web <br>
          <span class="display-7">por solo <strong class="colorear">$250.000</strong></span><span class="lead"><strike>Antes $350.000</strike></span></h2>
          <a href="#cotizar" du-smooth-scroll du-scrollspy offset="30" class="btn btn-primary btn-chico top20"><i class="fa fa-file-text-o"></i> ¡Cotiza ahora!</a>
        </div>
      </div>

    </section>

    <div ng-include="'views/proceso.html'"></div>
